<div class="left">
  <br>
  <br>
  <br>
  <div class="left_admin">
    <a routerLink="/indexadmin">{{broker.nameBroker}}</a>
    <!-- <a routerLink="/indexadmin">Broker</a> -->
    <div><img src = {{broker.linkImageProfile}} alt="" width="150px" height="120px"></div>
  </div>
  <div class="left_bar">
    <ul>
      <li>
        <a routerLink="detailpersonal" title="">
          <i></i>
          <p>Thông tin cá nhân</p>
        </a>
      </li>
      <li>
        <a routerLink="listpostsbroker" title="">
          <i></i>
          <p>Thông tin bài đăng</p>
        </a>
      </li>

      <li>
        <a routerLink="listcustomerbroker" title="">
          <i></i>
          <p>Thông tin Customer</p>
        </a>
      </li>

      <li>
        <a routerLink="listpostsassignnotpost" title="">
          <i></i>
          <p>Bài đăng chưa đăng</p>
        </a>
      </li>

      <li>
        <a routerLink="listpostsassignposted" title="">
          <i></i>
          <p>Bài đăng đã đăng</p>
        </a>
      </li>

      <li>
        <a routerLink="listownersbroker" title="">
          <i></i>
          <p>Chủ sở hữu</p>
        </a>
      </li>


    </ul>
  </div>
</div>