<div class="all">
  <div class="content">
    <div class="formlg" style = "width: 750px; height: 200px;">
      <h2 style = "margin-left: 258px;">Forget Password</h2>
       <form (ngSubmit)="heroForm.form.valid && forgetPassword(email.value)" #heroForm="ngForm" name = "form">
        <div *ngIf="heroForm.submitted && (!isLoginFailed)" class="alert alert-danger" style = "width: 435px; margin-left: 100px;">
           {{mess}}
        </div>


          <div class="form-group" style = "position: relative;">
            <div>
              <label for="email" style = "margin-left: 100px;">Email: </label>
              <input type="text" class="form-control" name="email"  [(ngModel)]="heroForm.form.email" #email="ngModel" required minlength="3" style = "margin-left: 37px;"/>
               <span *ngIf="email.invalid">
                  <span *ngIf="email.errors.required" style = "color: red; background-color: grey; margin-left: 1vw;">Email is required</span>
                  <span *ngIf="email.errors.minlength" style = "color: red; background-color: grey; margin-left: 1vw;">Email do dai phai it nhat 7 ki tu</span>
               </span>
            </div>

          <br>
          <br>
          <button type="submit" class="btn btn-success" style = "position: absolute; bottom: 40px; left: 280px;">Submit</button>

        <br>
        <br>
          </div>

      </form>
     
    </div>
  </div>
</div>
