<mat-tab-group dynamicHeight="true">
  <mat-tab>
    <ng-template mat-tab-label>
      Danh sách Owner
    </ng-template>
    <h1 id="so" style="display: none;">{{number}}</h1>
    <div class="content">
      <div class="content_detail">
        <div class="content_detail_top">
          <h4>Danh sách Owner</h4>
          <br>
          <a routerLink="../addlistcustomer" class="btn2">Thêm khách hàng</a>
        </div>
        <div class="content_detail_bottom">
          <table class="danhsach">
            <thead>
              <tr>
                <th>ID</th>
                <th>Owner Name</th>
                <th>Id Card</th>
                <th>Phone Number</th>
                <th>Address</th>
                <th>Thông tin</th>
              </tr>
            </thead>
            <tbody *ngIf="owners">
              <tr *ngFor="let owner of owners">
                <td>{{owner.id}}</td>
                <td>{{owner.ownerName}}</td>
                <td>{{owner.idCard}}</td>
                <td>{{owner.phoneNumber}}</td>
                <td>{{owner.address}}</td>
                <td><a>Chi tiết</a></td>
                <!-- <td>
                  <a routerLink="../editlistcustomer/{{eachCustomer.id}}">Sửa</a>
                  <a routerLink="../detaillistcustomer/{{eachCustomer.id}}">Chi tiết</a>
                  <button (click)="delete(eachCustomer.id)">X</button>
                </td> -->
              </tr>
            </tbody>
          </table>
          <div class="content_detail_bottom_page">
            <!-- <ul class="phantrang">
          <a href="" title="">
            <li id="phantrang_first">
              <<</li> </a> <a href="" title="">
            <li>1</li>
          </a>
          <a href="" title="">
            <li>2</li>
          </a>
          <a href="" title="">
            <li>3</li>
          </a>
          <a href="" title="">
            <li>4</li>
          </a>
          <a href="" title="">
            <li id="phantrang_last">>></li>
          </a>
        </ul> -->
            <ul class="phantrang">
              <li *ngFor="let p of pages; let i=index">
                <a href="#" (click)="setPage(i+1,$event)">{{i+1}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      Tìm kiếm
    </ng-template>
    <app-searchlistowner></app-searchlistowner>
    <!-- <h1>Day la tab tim kiem</h1> -->
  </mat-tab>
</mat-tab-group>
