    <!-- id: number;
    productName: string;
    productLocation: string;
    productCost: number;
    productAcreage: number;
    fileId: number;
    linkAnh: string; -->

<div class="all">
  <div class="content">
    <br>
    <h3 style = "margin-left: 100px; color: #007700;">Sửa thông tin lô đất</h3>
    <br>
    <div class="formlg" style = "width: 680px;" *ngIf = "brokerPost">
       <form (ngSubmit)="heroForm.form.valid && editPostBrokerWithImage()" #heroForm="ngForm" name = "form">
        <div *ngIf="heroForm.submitted && (!isLoginFailed)" class="alert alert-danger" style = "margin-left: 100px; width: 465px;">
           {{mess}}
        </div>
        <div *ngIf="heroForm.submitted && isLoginFailed" class="alert alert-danger">
           {{errorMessage}}
        </div>


          <div class="form-group" style = "position: relative;">
            <div>
              <label for="productName" style = "margin-left: 100px;">productName: </label>
              <input type="text" class="form-control" name="email"  [(ngModel)]="brokerPost.productName" #productName="ngModel" required minlength="3" style = "margin-left: 99px;" />
            </div>

              <div>
              <label for="productLocation" style = "margin-left: 100px;">productLocation: </label>
              <input type="text" class="form-control" name="productLocation"  [(ngModel)]="brokerPost.productLocation" #productLocation="ngModel" required minlength="7" style = "margin-left: 73px;"/>
               <span *ngIf="productLocation.invalid">
                  <span *ngIf="productLocation.errors.required" style = "color: red; background-color: grey; margin-left: 1vw;">productLocation is required</span>
                  <span *ngIf="productLocation.errors.minlength" style = "color: red; background-color: grey; margin-left: 1vw;">productLocation do dai phai it nhat 7 ki tu</span>
               </span>
              </div>

              <div>
              <label for="productCost" style = "margin-left: 100px;">productCost: </label>
              <input type="text" class="form-control" name="productCost"  [(ngModel)]="brokerPost.productCost" #productCost="ngModel" required style = "margin-left: 106px;"/>
               <span *ngIf="productCost.invalid">
                  <span *ngIf="productCost.errors.required" style = "color: red; background-color: grey; margin-left: 1vw;">productCost is required</span>
                  <!-- <span *ngIf="productCost.errors.minlength" style = "color: red; background-color: grey; margin-left: 1vw;">productCost do dai phai it nhat 7 ki tu</span> -->
               </span>
              </div>

              <div>
              <label for="productAcreage" style = "margin-left: 100px;">productAcreage: </label>
              <input type="text" class="form-control" name="productAcreage"  [(ngModel)]="brokerPost.productAcreage" #productAcreage="ngModel" required style = "margin-left: 74px;"/>
               <span *ngIf="productAcreage.invalid">
                  <span *ngIf="productAcreage.errors.required" style = "color: red; background-color: grey; margin-left: 1vw;">productAcreage is required</span>
                  <!-- <span *ngIf="productCost.errors.minlength" style = "color: red; background-color: grey; margin-left: 1vw;">productCost do dai phai it nhat 7 ki tu</span> -->
               </span>
              </div>
              <div>
                <span style = "margin-left: 100px; color: black;">Hình ảnh:</span> <img src = "{{brokerPost.linkAnh}}" style = "margin-left: 137px;">
              </div>
               <div>
                <input type="file" (change)="onFileChanged($event)" #fileInput style = "margin-left: 100px; color: #BB0000;">
              </div>

              <!-- <div>
              <label for="dateOfBirth">dateOfBirth: </label>
              <input type="date" class="form-control" name="dateOfBirth"  [(ngModel)]="broker.dateOfBirth" #dateOfBirth="ngModel" required minlength="7" style = "margin-left: 45px;"/>
               <span *ngIf="dateOfBirth.invalid">
                  <span *ngIf="dateOfBirth.errors.required" style = "color: red; background-color: grey; margin-left: 1vw;">dateOfBirth is required</span>
                  <span *ngIf="dateOfBirth.errors.minlength" style = "color: red; background-color: grey; margin-left: 1vw;">dateOfBirth do dai phai it nhat 7 ki tu</span>
               </span>
              </div> -->

              <!-- <div>
              <label for="name">Phone Number: </label>
              <input type="text" class="form-control" name="phonenumber"  [(ngModel)]="heroForm.form.phonenumber" #phonenumber="ngModel" required minlength="7" style = "margin-left: 16px;"/>
               <span *ngIf="phonenumber.invalid">
                  <span *ngIf="phonenumber.errors.required" style = "color: red; background-color: grey; margin-left: 1vw;">Phonenumber is required</span>
                  <span *ngIf="phonenumber.errors.minlength" style = "color: red; background-color: grey; margin-left: 1vw;">Phonenumber sai do dai </span>
               </span>
              </div> -->

              <!-- <div>
                <label for="gender">Gender: </label>
                <select [(ngModel)]="broker.gender" name="gender" #gender style = "width: 9vw; margin-left: 72px; height: 4vw;" >
                <option value="true">Nam</option>
                <option value="false">Nữ</option>
              </select>
              </div>
              <div>
                <img src = "{{broker.linkImageProfile}}">
              </div>

              <div>
                <span>Hình ảnh: </span><input type="file" (change)="onFileChanged($event)" #fileInput>
              </div> -->
<!-- 
              <div>
              <label for="name">Password: </label>
              <input type="password" class="form-control" style = "width: 18vw; margin-left: 57px;" name="password"  [(ngModel)]="heroForm.form.password" #password="ngModel" required minlength="7" />
               <span *ngIf="password.invalid">
                  <span *ngIf="password.errors.required" style = "color: red; background-color: grey; margin-left: 1vw;">Password is required</span>
                  <span *ngIf="password.errors.minlength" style = "color: red; background-color: grey; margin-left: 1vw;">Password do dai phai it nhat 7 ki tu</span>
               </span>
              </div> -->

              <!-- <div>
              <label for="name">Confirm: </label>
              <input type="password" class="form-control" style = "width: 18vw; margin-left: 72px;" name="confirmpassword"  [(ngModel)]="heroForm.form.confirmpassword" #confirmpassword="ngModel" required minlength="7" />
               <span *ngIf="confirmpassword.invalid">
                  <span *ngIf="confirmpassword.errors.required" style = "color: red; background-color: grey; margin-left: 1vw;">Confirm is required</span>
                  <span *ngIf="confirmpassword.errors.minlength" style = "color: red; background-color: grey; margin-left: 1vw;">Confirm do dai</span>
               </span>
              </div> -->



          <br>
          <br>
          <button type="submit" class="btn btn-success" style = "position: absolute; bottom: 40px; left: 250px;">Edit</button>

        <br>
        <br>
          </div>
      </form>
     
    </div>
  </div>
</div>
