<div class="left">
  <br>
  <br>
  <br>
  <div class="left_admin">
     <a routerLink="indexadmin">{{admin.nameAdmin}}</a>
    <img src="{{admin.linkImageProfile}}" alt="" width="150px" height="120px" >
  </div>
  <div class="left_bar">
    <ul>
      <li>
        <a routerLink="listbroker" title="">
          <i></i>
          <p>Người môn giới</p>
        </a>
      </li>
      <li>
        <a routerLink="listcustomer" title="">
          <i></i>
          <p>Khách hàng</p>
        </a>
      </li>
      <li>
        <a routerLink="listposts" title="">
          <i></i>
          <p>Bài đăng</p>
        </a>
      </li>
      <li>
        <a routerLink="assignpost" title="">
          <i></i>
          <p>Chỉ định bài đăng</p>
        </a>
      </li>
      <li>
        <a routerLink="listOwners" title="">
          <i></i>
          <p>Chủ sở hữu</p>
        </a>
      </li>

      <li>
        <a routerLink="changepassuser" title="">
          <i></i>
          <p>Đổi mật khẩu</p>
        </a>
      </li>
    </ul>
  </div>
</div>
