<div class="content" *ngIf="post">
  <div class="content_detail">
    <div class="content_detail_top">
      <div class="formlg2">
        <h4 style = "margin-left: 22px; color: #007700;">Chi tiết bài đăng</h4>
        <hr>
        <form>
          <table>
            <tr style = "padding-top: 0">
              <td>Request Status: <span style = "color: #007700;">{{post.requestStatus}}</span></td>
            </tr>
            <tr>
              <td>Tên sản phẩm: <span>{{post.productName}}</span></td>
            </tr>
            <tr>
              <td>Vị trí: <span>{{post.productLocation}}</span></td>
            </tr>
            <tr>
              <td>Diện tích: <span>{{post.productAcreage}} (m2)</span></td>
            </tr>
            <tr>
              <td>Giá: <span>{{post.productCost}} (VNĐ)</span></td>
            </tr>
            <tr>
              <td>Ảnh:<br> <span><img src="{{post.linkAnh}}" alt="" height="200px" width="250px"></span></td>
            </tr>
            <tr *ngIf = "post.requestStatus === 'PENDING'">
              <td><a routerLink = "../../handlePostToApproved/{{post.id}}" class="btn2">Duyệt</a></td>
            </tr>
            <tr *ngIf = "post.requestStatus === 'APPROVED'">
              <td><a class="btn2">Đã Duyệt</a></td>
            </tr>
          </table>
        </form>

      </div>
    </div>
  </div>
</div>
