<h1 id="sum" style="display: none;">{{number}}</h1>
    <div class="content">
      <div class="content_detail">
        <div class="content_detail_top">
          <h4>Danh sách Chủ sở hữu</h4>
          <form class="content_detail_top_form">
            <input type="text" name="search" placeholder="Search...">&nbsp;
            <select>
              <option>Theo tên</option>
              <option>Theo thuộc tính</option>
            </select>&nbsp;
            <input type="submit" name="submit" value="Search">
          </form>
          <a routerLink="../addlistbroker" class="btn2">Thêm chủ sở hữu</a>
        </div>
        <div class="content_detail_bottom">
          <table class="danhsach">
            <thead>
              <tr>
                <th>ID</th>
                <th>Owner Name</th>
                <th>Id Card</th>
                <th>Phone Number</th>
                <th>Address</th>
                <th>Thông</th>
              </tr>
            </thead>
            <tbody *ngIf="owners">
              <tr *ngFor="let owner of owners">
                <td>{{owner.id}}</td>
                <td>{{owner.ownerName}}</td>
                <td>{{owner.idCard}}</td>
                <td>{{owner.phoneNumber}}</td>
                <td>{{owner.address}}</td>
                <!-- <td *ngIf = "eachBroker.state == true">Đã đăng</td>
                <td *ngIf = "eachBroker.state == false">Chưa đăng</td>
                <td>{{eachBroker.nameAdmin}}</td> -->

                <td>
                  <a routerLink="../detaillistowner/{{owner.id}}">Chi tiết</a>
                </td>  
              </tr>

            </tbody>
          </table>
          <!--<div *ngIf="selectedBroker">
        <h3>Name: {{selectedBroker.name}}</h3>
      </div>-->
          <div class="content_detail_bottom_page">
            <!--<ul class="phantrang">
          <a href="" title="">
            <li id="phantrang_first">
              <<</li> </a> <a href="" title="">
            <li>1</li>
          </a>
          <a href="" title="">
            <li>2</li>
          </a>
          <a href="" title="">
            <li>3</li>
          </a>
          <a href="" title="">
            <li>4</li>
          </a>
          <a href="" title="">
            <li id="phantrang_last">>></li>
          </a>
        </ul>-->
            <ul class="phantrang">
              <li *ngFor="let p of pages; let i=index" style = "margin-bottom: 5px;">
                <a href="#" (click)="setPage(i+1,$event)">{{i+1}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
