<div class="content">
  <div class="content_detail">
    <div class="content_detail_top">
      <h4>Danh sách khách hàng tìm kiếm</h4>
      <form class="content_detail_top_form">
        <input type="text" name="search" placeholder="Search...">&nbsp;
        <select>
          <option>Theo tên</option>
          <option>Theo thuộc tính</option>
        </select>&nbsp;
        <input type="submit" name="submit" value="Search">
      </form>
    </div>
    <div class="content_detail_bottom">
      <table class="danhsach">
        <thead>
          <tr>
            <th>STT</th>
            <th>Tên KH</th>
            <th>Số ĐT</th>
            <th>Địa chỉ</th>
            <th>Email</th>
            <th>Năm sinh</th>
            <th>Giới tính</th>
            <th>Loại bỏ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Nguyễn Văn A</td>
            <td>0346465252</td>
            <td>Nguyễn Lương Bằng</td>
            <td>nva@gmail.com</td>
            <td>10/10/1997</td>
            <td>Nam</td>
            <td>
              <a href="">Xóa</a>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>Nguyễn Văn A</td>
            <td>0346465252</td>
            <td>Nguyễn Lương Bằng</td>
            <td>nva@gmail.com</td>
            <td>10/10/1997</td>
            <td>Nam</td>
            <td>
              <a href="">Xóa</a>
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td>Nguyễn Văn A</td>
            <td>0346465252</td>
            <td>Nguyễn Lương Bằng</td>
            <td>nva@gmail.com</td>
            <td>10/10/1997</td>
            <td>Nam</td>
            <td>
              <a href="">Xóa</a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="content_detail_bottom_page">
        <ul class="phantrang">
          <a href="" title="">
            <li id="phantrang_first">
              <<</li> </a> <a href="" title="">
            <li>1</li>
          </a>
          <a href="" title="">
            <li>2</li>
          </a>
          <a href="" title="">
            <li>3</li>
          </a>
          <a href="" title="">
            <li>4</li>
          </a>
          <a href="" title="">
            <li id="phantrang_last">>></li>
          </a>
        </ul>
      </div>
    </div>
  </div>
</div>