

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../../../assets/styles/style.css">
  <link rel="stylesheet" type="text/css" href="../../../assets/styles/responsive.css">
  <link rel="stylesheet" type="text/css" href="../../../assets/styles/reset.css">
  <!-- <link rel="stylesheet" type="text/css" href = "./menu.css"> -->
  <title>Service</title>
</head>

<div>

 <h1 *ngIf = "listPostPublic.length === 0"> Khong tim thay lo dat nao het...</h1>

<ul class="service-list crr" *ngIf = "listPostPublic">
          <li class="service-article" *ngFor = "let product of listPostPublic">
            <div class="service-content">
              <img src="{{product.linkAnh}}" alt="neck shoulder pain" style="width: 200px; height: 200px;"/>
              <h3 class="item-title upper-first-letter"><a href="#">{{product.productName}}</a></h3>
              <p class="upper-first-letter">{{product.productLocation}}</p>
              <a href="#" routerLink = "/detailProduct/{{product.id}}"><span class="icon-arrow"></span></a>
            </div>
          </li>
</ul>
</div>
