<div class="content">
  <div class="content_detail">
    <div class="content_detail_top">
      <h4>Danh sách khách hàng</h4>
      <form class="content_detail_top_form">
        <input type="text" name="search" placeholder="Search...">&nbsp;
        <select>
          <option>Theo tên</option>
          <option>Theo thuộc tính</option>
        </select>&nbsp;
        <input type="submit" name="submit" value="Search">
      </form>
    </div>
    <div class="content_detail_bottom">
      <table class="danhsach">
        <thead>
          <tr>
            <th>ID</th>
            <th>CMND</th>
            <th>Tên</th>
            <th>SĐT</th>
            <th>Địa chỉ</th>
            <th>Ngày sinh</th>
            <th>Mô tả</th>
            <th>Thông tin</th>
          </tr>
        </thead>
        <tbody *ngIf="customers">
          <tr *ngFor="let eachCustomer of customers">
            <td>{{eachCustomer.id}}</td>
            <td>{{eachCustomer.idCard}}</td>
            <td>{{eachCustomer.nameCustomer}}</td>
            <td>{{eachCustomer.phoneNumber}}</td>
            <td>{{eachCustomer.address}}</td>
            <td>{{eachCustomer.dayOfBirth}}</td>
            <td>{{eachCustomer.description}}</td>
            <td>
              <a routerLink="../detaillistcustomersbroker/{{eachCustomer.id}}">Khách hàng</a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="content_detail_bottom_page">
        <!-- <ul class="phantrang">
          <a href="" title="">
            <li id="phantrang_first">
              <<</li> </a> <a href="" title="">
            <li>1</li>
          </a>
          <a href="" title="">
            <li>2</li>
          </a>
          <a href="" title="">
            <li>3</li>
          </a>
          <a href="" title="">
            <li>4</li>
          </a>
          <a href="" title="">
            <li id="phantrang_last">>></li>
          </a>
        </ul> -->
      </div>
    </div>
  </div>
</div>
