<div class="content" *ngIf="customer">
  <div class="content_detail">
    <div class="content_detail_top">
      <div class="formlg2">
        <h4>Chi tiết khách hàng</h4><br>
        <hr>
        <form>
          <table>
            <tr>
              <td>ID: </td>
              <td>{{customer.id}}</td>
            </tr>
            <tr>
              <td>CMND: </td>
              <td>{{customer.idCard}}</td>
            </tr>
            <tr>
              <td>Họ tên: </td>
              <td>{{customer.nameCustomer}}</td>
            </tr>
            <tr>
              <td>Số điện thoại: </td>
              <td>{{customer.phoneNumber}}</td>
            </tr>
            <tr>
              <td>Địa chỉ: </td>
              <td>{{customer.address}}</td>
            </tr>
            <tr>
              <td>Ngày sinh: </td>
              <td>{{customer.dayOfBirth}}</td>
            </tr>
            <tr>
              <td>Mô tả: </td>
              <td>{{customer.description}}</td>
            </tr>
          </table>
        </form>

      </div>
    </div>
  </div>
</div>
