html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.content {
	background: #ffffff;
	border-radius:30px;
	margin: 20px;
	width: 1100px;
	-webkit-box-shadow: 9px 9px 7px -1px rgba(31,31,41,0.57);
	-moz-box-shadow: 9px 9px 7px -1px rgba(31,31,41,0.57);
	box-shadow: 9px 9px 7px -1px rgba(31,31,41,0.57);
}
.active {
	background: #bfbfbf;
	border-radius:30px;
}
.btn {
	text-decoration: none;
  	background-color: green;
  	color: white;
 	padding: 8px 16px;
  	border-radius: 10px;
  	border: 0px;
  	text-align: center;
  	-webkit-box-shadow: 9px 9px 7px -1px rgba(31,31,41,0.57);
	-moz-box-shadow: 9px 9px 7px -1px rgba(31,31,41,0.57);
	box-shadow: 9px 9px 7px -1px rgba(31,31,41,0.57);
}

.btn:hover {
  background-color: black;
  color: white;
}
a {
  text-decoration: none;
}
.content .content_detail {
	padding: 30px;

}
.content .content_detail .content_detail_top {
	margin-bottom: 30px;
}
.content .content_detail .content_detail_top form {
	margin-bottom: 20px;
}
.content .content_detail .content_detail_top form.content_detail_top_form input[type=text] {
	padding: 8px;
  	border-radius:10px;
  	border: 1px solid grey;
  	width: 200px;
  	background: #f1f1f1;
  	margin-top: 20px;
}
.content .content_detail .content_detail_top form.content_detail_top_form select {
	padding: 8px;
  	border-radius:10px;
  	border: 1px solid grey;
  	width: 180px;
  	background: #f1f1f1;
  	margin-top: 20px;
}
.content .content_detail .content_detail_top form.content_detail_top_form input[type=submit] {
	padding: 8px;
  	border-radius:10px;
  	border: 1px solid grey;
  	width: 100px;
    color:black;
  	background: #f1f1f1;
  	margin-top: 20px;
}
.content .content_detail .content_detail_top .btn2 {
    text-decoration: none;
     background-color: green;
     color: white;
      padding: 7px 16px;
     border-radius: 10px;
     border: 0px;
     text-align: center;
}
.formlg1 {
    width: 600px;
    margin: auto;
    margin-top:10px;
    border-radius: 10px;
    background-color: #F2F2F2;
    padding: 20px;
    -webkit-box-shadow: 9px 9px 7px -1px rgba(31,31,41,0.57);
    -moz-box-shadow: 9px 9px 7px -1px rgba(31,31,41,0.57);
    box-shadow: 9px 9px 7px -1px rgba(31,31,41,0.57);
  }
  .formlg1 form td {
    padding-left: 20px;
    padding-top: 20px
  }
  
  input[type=text], select {
    width: 250px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=date], select {
    width: 250px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: #008B8B;
  }
  input[type=reset] {
    width: 100px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=reset]:hover {
    background-color: #008B8B;
  }
  @media only screen and (max-width: 992px)  {
    .content {
      background: #ffffff;
      border-radius:30px;
      /*zzzzzzzzzzzzzzzzzzz*/
      margin: 0px;
      width: 100%;
      -webkit-box-shadow: 9px 9px 7px -1px rgba(31,31,41,0.57);
      -moz-box-shadow: 9px 9px 7px -1px rgba(31,31,41,0.57);
      box-shadow: 9px 9px 7px -1px rgba(31,31,41,0.57);
    }
    .formlg1 {
			width: 100%;
		}
  }